MGT6769 HW3 Part B

In [85]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.optimize import least_squares, root

In [4]:
# nelson siegel swenson model: take four curve shape parameters and two hump date parameters, for each given tenor T
def NSS_zero_cstrct(T, beta0,beta1,beta2,beta3,tau1,tau2):
    # zero rate
    if T < 1/365: T = 1/365
    exp_tt1 = exp(-T/tau1)
    exp_tt2 = exp(-T/tau2)
    factor1 = (1 - exp_tt1) / (T / tau1)
    factor2 = factor1 - exp_tt1
    factor3 = (1 - exp_tt2) / (T / tau2) - exp_tt2
    res = beta0 + beta1*factor1 + beta2*factor2 + beta3*factor3
    return res

In [24]:
Treasury_data = pd.read_csv(r'Data\feds200628_till210319.csv', index_col = 'Date', usecols = ['Date','BETA0','BETA1','BETA2','BETA3','TAU1','TAU2'], skiprows=9)
Treasury_data

               BETA0     BETA1       BETA2       BETA3      TAU1        TAU2
Date
1961-06-14  3.917606 -1.277955   -1.949397    0.000000  0.339218 -999.990000
1961-06-15  3.978498 -1.257404   -2.247617    0.000000  0.325775 -999.990000
1961-06-16  3.984350 -1.429538   -1.885024    0.000000  0.348817 -999.990000
1961-06-19  4.004379 -0.723311   -3.310743    0.000000  0.282087 -999.990000
1961-06-20  3.985789 -0.900432   -2.844809    0.000000  0.310316 -999.990000
...              ...       ...         ...         ...       ...         ...
2021-03-15  2.911025 -2.663140 -141.404857  138.071667  2.370744    2.388815
2021-03-16  2.937549 -2.694755 -123.135938  119.804611  2.423192    2.445306
2021-03-17  4.580133 -4.309836   -5.558469   -4.297111  2.208964   21.082222
2021-03-18  5.726447 -5.466569   -6.339108   -7.513431  2.248462   19.957728
2021-03-19  5.922383 -5.638647   -6.582566   -8.128514  2.173055   19.186194

[15593 rows x 6 columns]

In [26]:
Treasury_data = Treasury_data.loc['2010-02-05':'2010-02-06'] # Today is Feb 5, 2010 
Treasury_data

               BETA0     BETA1       BETA2       BETA3      TAU1      TAU2
Date
2010-02-05  4.666573 -4.578996 -155.479342  155.827299  3.217715  3.314107

## consider a roller coaster SWAP: maturity = 10yr; floating leg index is 6m T-bill, notional varies: summer  = 3 * winter; fixed leg is paid annually, notional is 50million.

### assume float leg payment is semiannually

In [56]:
tenors = [x for x in range(0,121,6)]
tenors

[0,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 60,
 66,
 72,
 78,
 84,
 90,
 96,
 102,
 108,
 114,
 120]

In [65]:
Treasury_zero = pd.DataFrame(index = Treasury_data.index, columns = tenors)

In [66]:
for col in Treasury_zero.columns:
    Treasury_zero[col]=Treasury_data.apply(lambda x: NSS_zero_cstrct(col/12,x['BETA0'],x['BETA1'],x['BETA2'],x['BETA3'],x['TAU1'],x['TAU2']), axis=1)

In [67]:
Treasury_zero_ary = np.array(Treasury_zero)
Treasury_zero_ary /= 100
Treasury_zero_ary

array([[0.00087747, 0.0016389 , 0.00313615, 0.00514265, 0.00748265,
        0.0100201 , 0.01265092, 0.01529664, 0.01789924, 0.02041693,
        0.02282067, 0.02509143, 0.02721791, 0.02919472, 0.03102096,
        0.03269902, 0.03423366, 0.0356313 , 0.03689947, 0.03804633,
        0.03908034]])

In [68]:
Treasury_fwd_ary = ((np.array(tenors[1:])/12) * Treasury_zero_ary[:,1:] - (np.array(tenors[:-1])/12) * Treasury_zero_ary[:,:-1])/((tenors[1]-tenors[0])/12)
Treasury_fwd_ary.shape # starting from 0 month to 114month

(1, 20)

In [113]:
# float leg notional, starting from 6 month to 120month
# set the summer notional to be x
def fun_swap_value(x):
    float_notional = [1, 1/3] * 10
    float_NPV_ary = x*np.array(float_notional).reshape(1,-1) * Treasury_fwd_ary * np.exp(-Treasury_zero_ary[:,1:]*np.arange(0.5,10.1,0.5))
    #print(float_NPV_ary.sum())
    
    
    # fix leg payment. suppose swap rate is 5%.
    fix_NPV_ary = 50 * 0.05 * np.exp(-Treasury_zero_ary[:,2::2]*np.arange(1,10.1,1))
    #print(fix_NPV_ary.sum())
    return float_NPV_ary.sum() - fix_NPV_ary.sum()

In [114]:
res = least_squares(fun_swap_value, 50)
res

 active_mask: array([0.])
        cost: 5.1240602720201756e-18
         fun: array([3.20126858e-09])
        grad: array([1.34392074e-09])
         jac: array([[0.4198088]])
     message: '`gtol` termination condition is satisfied.'
        nfev: 2
        njev: 2
  optimality: 1.3439207351400534e-09
      status: 1
     success: True
           x: array([51.07295447])

In [115]:
sol = root(fun_swap_value, 50)
sol

    fjac: array([[-1.]])
     fun: 3.552713678800501e-15
 message: 'The solution converged.'
    nfev: 4
     qtf: array([-3.20224558e-09])
       r: array([-0.41980882])
  status: 1
 success: True
       x: array([51.07295446])

## answer to partb-1a: 51.072954 million

In [116]:
# assume the summer notional is 25 million and swap is priced fairly
# set the swap rate to be x
def fun_swap_value_b(x):
    float_notional = [1, 1/3] * 10
    float_NPV_ary = 25*np.array(float_notional).reshape(1,-1) * Treasury_fwd_ary * np.exp(-Treasury_zero_ary[:,1:]*np.arange(0.5,10.1,0.5))
    #print(float_NPV_ary.sum())
    
    
    # fix leg payment. suppose swap rate is x.
    fix_NPV_ary = 50 * x * np.exp(-Treasury_zero_ary[:,2::2]*np.arange(1,10.1,1))
    #print(fix_NPV_ary.sum())
    return float_NPV_ary.sum() - fix_NPV_ary.sum()

In [118]:
res_b = least_squares(fun_swap_value_b, 0.05)
res_b

 active_mask: array([0.])
        cost: 1.5777218104420236e-30
         fun: array([-1.77635684e-15])
        grad: array([7.61732952e-13])
         jac: array([[-428.8175298]])
     message: '`gtol` termination condition is satisfied.'
        nfev: 3
        njev: 3
  optimality: 7.617329519106058e-13
      status: 1
     success: True
           x: array([0.02447479])

In [119]:
sol_b = least_squares(fun_swap_value_b, 0.05)
sol_b

 active_mask: array([0.])
        cost: 1.5777218104420236e-30
         fun: array([-1.77635684e-15])
        grad: array([7.61732952e-13])
         jac: array([[-428.8175298]])
     message: '`gtol` termination condition is satisfied.'
        nfev: 3
        njev: 3
  optimality: 7.617329519106058e-13
      status: 1
     success: True
           x: array([0.02447479])

## answer to partb-1b: 2.45%

In [132]:
# from partb-1a: summer notional is 51.072954 million, swap rate is 5%
Treasury_data = pd.read_csv(r'Data\feds200628_till210319.csv', index_col = 'Date', usecols = ['Date','BETA0','BETA1','BETA2','BETA3','TAU1','TAU2'], skiprows=9)

In [133]:
Treasury_data_new = Treasury_data.loc['2011-02-04':'2011-02-05'] # Today is Feb 4, 2011 
Treasury_data_new

               BETA0     BETA1     BETA2     BETA3      TAU1       TAU2
Date
2011-02-04  3.025067 -2.788903 -4.552807  8.443618  1.663451  11.766051

In [134]:
tenors_new = [x for x in range(0,109,6)]
tenors_new

[0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96, 102, 108]

In [135]:
Treasury_zero_new = pd.DataFrame(index = Treasury_data_new.index, columns = tenors_new)
for col in Treasury_zero_new.columns:
    Treasury_zero_new[col]=Treasury_data_new.apply(lambda x: NSS_zero_cstrct(col/12,x['BETA0'],x['BETA1'],x['BETA2'],x['BETA3'],x['TAU1'],x['TAU2']), axis=1)

In [136]:
Treasury_zero_ary_new = np.array(Treasury_zero_new)
Treasury_zero_ary_new /= 100
Treasury_zero_ary_new

array([[0.00235697, 0.00229273, 0.00341979, 0.00530177, 0.00763059,
        0.01019347, 0.0128457 , 0.01549083, 0.01806652, 0.02053422,
        0.02287192, 0.02506882, 0.02712171, 0.02903228, 0.03080534,
        0.03244752, 0.03396642, 0.03537004, 0.03666637]])

In [137]:
Treasury_fwd_ary_new = ((np.array(tenors_new[1:])/12) * Treasury_zero_ary_new[:,1:] - (np.array(tenors_new[:-1])/12) * Treasury_zero_ary_new[:,:-1])/((tenors_new[1]-tenors_new[0])/12)
Treasury_fwd_ary_new.shape # starting from 0 month to 114month

(1, 18)

In [138]:
float_notional = [1, 1/3] * 9
float_NPV_ary_new = 51.072954*np.array(float_notional).reshape(1,-1) * Treasury_fwd_ary_new * np.exp(-Treasury_zero_ary_new[:,1:]*np.arange(0.5,9.1,0.5))
print(float_NPV_ary_new.sum())
    
fix_NPV_ary_new = 50 * 0.05 * np.exp(-Treasury_zero_ary_new[:,2::2]*np.arange(1,9.1,1))
print(fix_NPV_ary_new.sum())
print(float_NPV_ary_new.sum() - fix_NPV_ary_new.sum())

18.584645602723125
19.756724615215344
-1.172079012492219

## answer to partb-1c: -1.172079 million